services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: retail_dw
      POSTGRES_USER: retail
      POSTGRES_PASSWORD: retail
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer:4
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
